<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.rubbish.mapper.PointMyTicketMapper">
    
    <resultMap type="PointMyTicket" id="PointMyTicketResult">
        <result property="id"    column="id"    />
        <result property="ticketCode"    column="ticket_code"    />
        <result property="isUse"    column="is_use"    />
        <result property="ticketUrl"    column="ticket_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPointMyTicketVo">
        select id, ticket_code, is_use, ticket_url, create_by, create_time, update_by, update_time from point_my_ticket
    </sql>

    <select id="selectPointMyTicketList" parameterType="PointMyTicket" resultMap="PointMyTicketResult">
        <include refid="selectPointMyTicketVo"/>
        <where>  
            <if test="ticketCode != null  and ticketCode != ''"> and ticket_code = #{ticketCode}</if>
            <if test="isUse != null  and isUse != ''"> and is_use = #{isUse}</if>
            <if test="ticketUrl != null  and ticketUrl != ''"> and ticket_url = #{ticketUrl}</if>
        </where>
    </select>
    
    <select id="selectPointMyTicketById" parameterType="Long" resultMap="PointMyTicketResult">
        <include refid="selectPointMyTicketVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPointMyTicket" parameterType="PointMyTicket">
        insert into point_my_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="ticketCode != null">ticket_code,</if>
            <if test="isUse != null">is_use,</if>
            <if test="ticketUrl != null">ticket_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="ticketCode != null">#{ticketCode},</if>
            <if test="isUse != null">#{isUse},</if>
            <if test="ticketUrl != null">#{ticketUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePointMyTicket" parameterType="PointMyTicket">
        update point_my_ticket
        <trim prefix="SET" suffixOverrides=",">
            <if test="ticketCode != null">ticket_code = #{ticketCode},</if>
            <if test="isUse != null">is_use = #{isUse},</if>
            <if test="ticketUrl != null">ticket_url = #{ticketUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePointMyTicketById" parameterType="Long">
        delete from point_my_ticket where id = #{id}
    </delete>

    <delete id="deletePointMyTicketByIds" parameterType="String">
        delete from point_my_ticket where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>