<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.rubbish.mapper.WxUserContrastMapper">
    
    <resultMap type="WxUserContrast" id="WxUserContrastResult">
        <result property="id"    column="id"    />
        <result property="newPersonWxuid"    column="new_person_wxUid"    />
        <result property="recommendedWxuid"    column="recommended_wxUid"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWxUserContrastVo">
        select id, new_person_wxUid, recommended_wxUid, is_deleted, create_by, create_time, update_by, update_time from wx_user_contrast
    </sql>

    <select id="selectWxUserContrastList" parameterType="WxUserContrast" resultMap="WxUserContrastResult">
        <include refid="selectWxUserContrastVo"/>
        <where>  
            <if test="newPersonWxuid != null  and newPersonWxuid != ''"> and new_person_wxUid = #{newPersonWxuid}</if>
            <if test="recommendedWxuid != null  and recommendedWxuid != ''"> and recommended_wxUid = #{recommendedWxuid}</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectWxUserContrastById" parameterType="Long" resultMap="WxUserContrastResult">
        <include refid="selectWxUserContrastVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWxUserContrast" parameterType="WxUserContrast">
        insert into wx_user_contrast
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="newPersonWxuid != null">new_person_wxUid,</if>
            <if test="recommendedWxuid != null">recommended_wxUid,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="newPersonWxuid != null">#{newPersonWxuid},</if>
            <if test="recommendedWxuid != null">#{recommendedWxuid},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWxUserContrast" parameterType="WxUserContrast">
        update wx_user_contrast
        <trim prefix="SET" suffixOverrides=",">
            <if test="newPersonWxuid != null">new_person_wxUid = #{newPersonWxuid},</if>
            <if test="recommendedWxuid != null">recommended_wxUid = #{recommendedWxuid},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxUserContrastById" parameterType="Long">
        delete from wx_user_contrast where id = #{id}
    </delete>

    <delete id="deleteWxUserContrastByIds" parameterType="String">
        delete from wx_user_contrast where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>